.container {
    width: 405px;
    height: 480px;
    border: 1px solid gray;
    padding: 10px;
}

/* Стили поля */
.game-field {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-gap: 1px;
    background-color: rgba(211, 209, 209, 0.842);
    border: 1px solid rgba(228, 226, 226, 0.945);
    width: 403px;
    height: 403px;
    margin-bottom: 20px;
}

.ceil {
    background-color: white;
}

/* Стили для разноцветных клеток */
.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.lightblue {
    background-color: aquamarine;
}

/* Стили для таймера */
.timer-form {
    height: 100px;
    width: 150px;
    margin-left: 10px;
}

.button {
    margin-right: 50px;
    margin-bottom: 15px;
}

.timer {
    border-style: none;
}

/* Стили для попапа */
.popup {
    display: none;
    position: relative;
    top: -70px;
    left: 5px;
    width: 450px;
    height: 130px;
    border: 1px solid gray;
    padding-left: 15px;
    background-color: white;
    box-shadow: 1px 1px 5px gray;
    z-index: 2;
}

.popup p {
    margin-top: 30px;
    margin-bottom: 0px;
    color: grey;
}

.popup p:last-of-type {
    margin-top: 10px;
}

.popup .ok {
    position: absolute;
    top: 90px;
    left: 390px;
    width: 60px;
    height: 30px;
    border: 1px solid #1E90FF;
    background-color: #6495ED;
    box-shadow: 0 0 10px steelblue;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
}

.show-popup {
    display: block;
}